footer 
    .container 
        .footer-wrapper 
            a(href="/").footer-wrapper__logo 
                img(src="../assets/img/logo.svg", alt="")
            .footer-wrapper__text 
                p © Салон красоты «Мак» открыт с 4 июля 2012
