header 
    .container 
        .header-section 
            a(href="#").header-logo
                img(src="../assets/img/logo.svg", alt="logo")
    //- .container 
    //-     .header__hole
    //-         a.header__logo(href="#")
    //-             img(src="../assets/img/logo.svg", alt="logo") 
    //-         .menu-mobile.menu_ul 
    //-             .header__record
    //-                 a.header__record__button(href="#").btn.hover__but
    //-                     |Запись
    //-                 .eader__record__time
    //-                     p 
    //-                     |Пн-Сб с 10:00 до 20:00
    //-                     p 
    //-                     |Вс с 10:00 до 19:00
    //-             mav.header__nav
    //-                 ul
    //-                     li 
    //-                     a(href="#") 
    //-                         |Услуги
    //-                     li 
    //-                     a(href="#") 
    //-                         |Цены
    //-                     li 
    //-                     a(href="#") 
    //-                         |О нас
    //-                     li 
    //-                     a(href="#") 
    //-                         |Контакты
    //-             .header__social-networks
    //-                 a(href="#")
    //-                     img(src="../assets/img/vk.svg", alt="vk")
    //-                 a(href="#")
    //-                     img(src="../assets/img/inst.svg", alt="inst")
    //-         a(href="#").menu-link
    //-                 span
          