header(id='up') 
    .container 
        .header-wrapper 
            .header-section
                a(href="/ ").header-logo
                    img(src="../assets/img/logo.svg", alt="logo")
            .header-section
                .header-section__item
                    button(type="submit").header-section__entry Запись                       
                .header-section__item.item-schedule
                    p Пн-Сб с 10:00 до 20:00
                    p Вс с 10:00 до 19:00
            .header-section.menu-section 
                a.header-section__link(href="/services-section.html") Услуги
                a.header-section__link(href="/prices.html") Цены
                a.header-section__link(href="/about.html") О нас
                a.header-section__link(href="/contacts.html") Контакты
            .header-section.social-networks 
                a.header-section-item.social-networks__vk(href="#") 
                    img(src="../assets/img/vk.svg")
                a.header-section-item.social-networks__in(href="#") 
                    img(src="../assets/img/inst.svg")
            button.header-section__burger-menu(type="button" id="burger-menu") 
                img(src="../assets/img/burger.svg")
    