/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --black: #230000;
    --bej: #F1ECE8;
    --darkbej: #8F7470;
    --red:#ED2024;
    --bej2: #EBE4DE;
    --awc:#F7F4F1;
}
/* Components */
