// banner
.banner-wrapper{
    @apply relative
}
.banner-wrapper__img-container img{
    @apply w-full
}
.banner-wrapper__content{
    @apply absolute w-full top-[35%] sm:top-[45%] text-black
}
.banner-wrapper__text{
    @apply leading-[21px] text-[12px] sm:text-[14px] md:text-[18px]
}
.banner-wrapper__title{
    @apply font-semibold leading-[110%] text-[25px] sm:text-[30px] md:text-[50px] lg:text-[60px]
}

// Swiper
.swiper-wrapper {
    @apply py-10 relative;
}
.swiper-container {
    @apply w-full h-full
}

.swiper-slide {
    @apply text-center text-18px flex justify-center items-center;
}
.swiper-slide .swiper-slide__container {
    @apply w-full h-full object-cover;
    padding: 0 45px;
}
.border-radius{
    @apply rounded-br-[60px] rounded-tl-[60px]
}
.swiper-slide__wrapper{
    @apply bg-bej2 w-full grid px-[30px] md:px-[70px];

}
.swiper-slide__content {
    @apply flex flex-col justify-start text-left py-[20px] lg:py-[50px]
}
.btn{
    @apply text-bej bg-black hover:bg-black mt-5 w-fit text-12px sm:text-14px lg:text-18px lg:mt-10 cursor-pointer;
    transition: 0.5s;
    padding: 9px 20px 11px;
    border-radius: 20px 0px;
}
.swiper-slide__title{
    @apply text-18px sm:text-[20px] lg:text-[26px] 2lg:text-[36px] xl:text-[46px] leading-[120%] text-black
}

.swiper-slide__img{
    @apply h-full block
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    @apply bg-red
}
.swiper-pagination-bullet{
    @apply bg-darkbej;
}

//main-services
.main-services-wrapper {
    @apply grid grid-cols-1 2lg:grid-cols-2 items-center gap-[80px] md:gap-[110px] mt-[80px] md:mt-[150px]
}
.main-services-left__list {
    @apply grid grid-cols-1 md:grid-cols-2 gap-[40px] md:gap-[55px]
}
.main-services-left__item{
    @apply bg-bej2 p-10 flex flex-col hover:bg-darkbej hover:text-bej h-fit;
    transition: 0.3s;
}
.main-services-left__item:nth-child(even){
    @apply md:mt-[-55px]
}
.main-services-left__item:hover img{
   filter: brightness(0) invert(1);
}

.main-services-left__item-img{
    @apply self-center
}

.main-services-left__item-title{
    @apply text-[36px] leading-[120%] py-[30px]
}
.main-services-left__item-desc{
    @apply text-18px leading-[160%];
}
.main-services-right__content-title{
    @apply mb-10
}
.title{
    @apply text-[40px] md:text-[60px] leading-[120%]
}
.main-services-right__content-desc{
    @apply text-16px md:text-18px leading-[160%] mb-[30px] sm:mb-[40px] md:mb-[80px];
}


//masters
.masters-main{
    @apply mt-[80px] md:mt-[150px];

    .masters-top {
        @apply flex justify-between items-center mb-[70px]
    }
    .masters-bottom__list {
        @apply grid md:px-[80px] gap-[30px] grid-cols-1 grid-rows-3 2lg:grid-rows-1;
    }
    .master__item{
        @apply relative max-h-[536px] md:max-h-[605px] max-w-[544px] lg:min-h-[650px] justify-self-center;
    }
    .master__item:nth-child(3n-1){
        @apply 2lg:mb-[-40px] 2lg:mt-[40px]
    }
    .master__item:nth-child(3n-1) .master__item-content{
        @apply 2lg:bottom-[88px] 2lg:left-[-88px];
    }
    .master__item-img{
        @apply rounded-br-[60px] rounded-tl-[60px] overflow-hidden h-full
    }
    .master__item-img img{
        @apply h-full object-cover 
    }
    .master__item-img video{
        @apply hidden 2lg:block object-cover rounded-br-[60px] rounded-tl-[60px] overflow-hidden h-full w-full 2lg:invisible 2lg:opacity-0 ;
        transition: visibility 0.6s linear,opacity 0.6s linear;
    }
    .master__item:hover video{
        @apply block 2lg:visible 2lg:opacity-[1];
    }
    .master__item:hover img{
        @apply hidden;
    }
    .master__item-content {
        @apply absolute 2lg:rotate-[-90deg] 2lg:bottom-[123px] 2lg:left-[-122px]
        w-min md:bottom-[40px] md:left-[-84px] rotate-0
        bottom-[10px] left-[-10px];
        transition: all 0.4s ease-in-out;
    }
    .master__item-title{
        @apply 2lg:bg-darkbej text-bej py-[12px] px-[20px] text-[32px] leading-[37px] w-fit mb-[12px] 2lg:rounded-bl-[20px] 2lg:rounded-tr-[20px]
        bg-black whitespace-nowrap rounded-br-[20px] rounded-tl-[20px] 2lg:rounded-br-[0px] 2lg:rounded-tl-[0px];
    }
    .master__item-desc{
        @apply text-16px leading-[19px] text-darkbej py-[24px] px-[34px] bg-bej2 rounded-br-[20px] rounded-tl-[20px]
        block 2lg:invisible 2lg:opacity-0 2lg:absolute;
        transition: all 0.4s ease-in-out;
    }

    .master__item:hover .master__item-content{
        @apply w-min md:bottom-[40px] md:left-[-84px] rotate-0
        bottom-[10px] left-[-10px];
       
    }
    .master__item:hover .master__item-title{
        @apply bg-black whitespace-nowrap rounded-br-[20px] rounded-tl-[20px];
        border-radius: 20px 0px;
    }
    .master__item:hover .master__item-desc{
        @apply visible opacity-[1] relative;;
    }
    .master__item:first-child .master__item-content{
        @apply 2lg:bottom-[126px] 2lg:left-[-125px];
    }
}

//care-products
.care-products,
.main-about,
.main-contacts{
    @apply mt-[150px]
}
.care-product__header{
    @apply mb-[160px]
}
.care-product__content-list{
    @apply grid grid-cols-1 md:grid-cols-2 2lg:grid-cols-3 gap-y-[60px] gap-x-[30px]
}
.care-product__content-item{
    @apply bg-bej2 hover:bg-awc rounded-br-[60px] rounded-tl-[60px] px-[53px] pb-[40px]
    flex flex-col items-center max-w-[406px] h-fit mt-[50px] md:mt-0; 
    transition: 0.3s;
}
.care-product__content-item:nth-child(even){
    @apply md:mt-[50px] 2lg:mt-0
}
.care-product__content-item:nth-child(3n-1){
    @apply 2lg:mt-[50px]
}
.care-product__item-img{
    @apply max-w-[259px] mt-[-100px] mb-[30px]
}
.care-product__item-title{
    @apply text-[24px]
}


// gallery
.gallery{
    @apply mt-[100px]
}
.gallery__header{
    @apply mb-[80px]
}
.container-swiper {
    @apply max-w-[1700px] m-auto sm:pl-[21px] md:pl-[27px] lg:pl-[51px] 2lg:pl-[31px] xl:pl-[80px];
}
.Swiper-gallery .swiper-slide:nth-child(odd){
    @apply mt-[44px]
}
.gallery .swiper-slide{
    @apply overflow-hidden
}
.gallery .swiper-slide img {
    @apply object-cover
}


// present
.present {
    @apply mt-[200px]  
}
.present__header,
.about__header,
.contacts__header
{
    @apply text-center mb-[80px]
}
.present__content .swiper-slide{
    box-shadow: 0px 39px 18px -20px #ECE5DF;
}
.present .swiper-slide{
    @apply opacity-[0.8];
    transition: 0.7s;
    transform: scale(0.6)
}
.present .swiper-slide.swiper-slide-active{
    @apply opacity-[1];
    transform: scale(1.1)
}
.present__footer{
    @apply text-center mt-[85px]
}
.present__footer__btn{
    @apply bg-red
}


// main-about
.main-about__header{
    @apply mb-[60px] text-center
}
.main-about__content {
    display: flex;
    justify-content: center;
}
.main-about__content-list {
    @apply grid grid-cols-1 sm:grid-cols-2 2lg:grid-cols-2 gap-[30px] w-full
}
.about_span_1{
    @apply 2lg:mt-[50px];
}
.about_span_2{
    @apply 2lg:mt-[-30px] relative;
}
.main-about__content-text{
    @apply absolute font-semibold text-[27px] sm:text-[32px] md:text-[40px] leading-[20%] bottom-[50%] md:bottom-[55%] left-[15%] md:left-[23%]
}
.main-about__content-item{
    @apply overflow-hidden rounded-tl-[60px] rounded-br-[60px]
}
.main-about__content-item img{
    @apply w-full object-cover
}
.no-visible{
    @apply hidden sm:block
}


//main-contacts
.main-contacts{
    @apply mb-[90px]
}
.main-contacts__header{
    @apply text-center mb-[60px]
}
.main-contacts__content {
    @apply grid gap-[75px] grid-cols-1 justify-items-center
}
.main-contacts__left{
    @apply flex items-center
}
.main-contacts__right{
    @apply max-w-full
}
.main-contacts__right-map{
    @apply rounded-br-[60px] rounded-tl-[60px] overflow-hidden max-w-full
}
.main-contacts__left-item{
    @apply grid mb-[30px];
    grid-template-columns: 1fr 2fr;
}
.main-contacts__left-img{
    @apply mr-[50px] max-w-[50px] min-w-[25px]
}
.main-contacts__left-text{
    @apply text-24px leading-[140%];
}
.main-contacts__left-text a{
    transition: all 0.3s ease-in-out;
    @apply hover:text-red
}





// @media
@media(min-width:480px){
    .swiper-slide .swiper-slide__container {
        @apply w-full h-full object-cover;
        padding: 0 60px;
    }
    .about_span_1{
        grid-column: 1/3;
    }
    .about_span_2{
        grid-column: 1/3;
    }
    .main-contacts__left-item{
        grid-template-columns: 1fr 3fr;
    }
}

@media(min-width:720px){
    .btn{
        padding: 9px 38px 11px;
    }
    .swiper-slide__wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .main-contacts__left-item{
        grid-template-columns: 1fr 4fr;
    }
}

@media(min-width:1024px){
    .swiper-slide__wrapper{
        grid-template-columns: 1.4fr 1fr;
    }
}

@media(min-width:1280px){
    .about_span_2{
        grid-column: 3/5;
    }
    .main-contacts__content {
        grid-template-columns: 1fr 2fr;
    }
    .main-contacts__left-item{
        grid-template-columns: 1fr 2fr;
    }


    .masters-bottom__list:has(.master__item:first-child:hover) {
        grid-template-columns: 2fr 1fr 1fr;
    }
    .masters-bottom__list:has(.master__item:nth-child(3n-1):hover) {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .masters-bottom__list:has(.master__item:nth-child(3n):hover) {
        grid-template-columns: 1fr 1fr 2fr;
    }

    .masters-main .masters-bottom__list {
        @apply grid md:px-[80px] gap-[30px] grid-cols-1;
        grid-template-columns: 1fr 1fr 1fr;
        transition: all 0.4s ease-in-out;
    }
}

@media(min-width:1440px){
    
}


