extends ../layout/main

block variables
  - var title = 'Мастера';
  - var description = 'Страница контакты';
  - var pageClass = 'index';
  


block content
    .masters.wrapper-section
        img(src="../assets/img/background/bg-contacts.png").masters-background.img-background
        .container
            .masters-wrapper
                .masters-header
                    h1.masters-header__title.title Мастера салона «Мак»                    
                .masters-content
                    .masters-content__list 
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/1_Генералова Галина.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/1_Галина.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Генералова Галина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/3_Белова Ирина.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/3_Ирина.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Белова Ирина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/2_Тяпкина Светлана.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/2_Светлана.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Тяпкина Светлана
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        
                    .masters-content__list    
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_1.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/9.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Генералова Галина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_2.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/10.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Белова Ирина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_3.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/8.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Тяпкина Светлана
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                    
                    .masters-content__list
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_4.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/3.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Генералова Галина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_5.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/6.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Белова Ирина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_6.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/4.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Тяпкина Светлана
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"
                    
                    .masters-content__list
                        .masters__item
                            .masters__item-img
                                img(src="../assets/img/masters/master_7.jpg")
                                video(id="master-video")
                                    source(src="../assets/img/masters/video/2.mp4")
                            a(href="/master.html").masters__item-content 
                                .masters__item-title Генералова Галина
                                .masters__item-desc 
                                    p Парикмахер-стилист, визажист, директор салона красоты "МАК"