extends ../layout/main

block variables
  - var title = 'Цены';
  - var description = 'Страница контакты';
  - var pageClass = 'index';
  


block content
    .prices
        img(src="../assets/img/background/bg-prices.png").prices-background.img-background
        .container
            .prices-wrapper
                .prices-header
                    h1.prices-header__title.title Цены