extends ../layout/main

block variables
  - var title = 'Услуга';
  - var description = 'Страница контакты';
  - var pageClass = 'index';
  


block content
    .service.wrapper-section
      img(src="../assets/img/background/bg-about.png").service-background.img-background
      .container
          .service-wrapper
            .service-header
                h1.service-header__title.title Наращивание ресниц
            .service-content 
              .service-content__left 
                .service-content__text 
                  | В последнее время наращивание ресниц становится все более востребовано. Девушки обращаются в салоны красоты для того, чтобы приобрести длинные объемные ресницы вместо того, чтобы снова и снова пользоваться разнообразной тушью. Наращенные ресницы делают взгляд более выразительным и привлекательным, при этом часто они выглядят более естественно, чем накрашенные. С практической точки зрения наращивание также имеет весомые плюсы. К примеру, они идеальны для любительниц походов в сауну и бассейн, ведь о них можно не беспокоиться во время купания. Процедура наращивания ресниц проста и одновременно трудоемка. С помощью пинцетов мастер накладывает искусственные ресницы на основание натуральных, используя при этом специальный клей. Все манипуляции с ресницами полностью безопасны ввиду того, что клеящий состав не содержит аллергенных компонентов. Мастер может использовать клей черного цвета либо полностью бесцветный. Черный оттенок подчеркивает линию века и создает легкий эффект подводки, а бесцветный делает невидимыми места спаек. Наращенные волоски не всегда имеют только синтетическое происхождение. Наряду с силиконовыми ресницами, часто используются шелковые, норковые и натуральные. Применение любого из этих типов ресниц исключает аллергию и заболевания глаз. Методы наращивания делятся на два типа: поресничный и пучковый. Поресничный метод — это приклеивание одного искусственного волоска к одному собственному. В результате ресницы выглядят роскошными и естественными, а держатся очень долго. Поэтому данная процедура является самой дорогостоящей. Пучковое наращивание более экономично. Как следует из названия, искусственные волоски склеиваются в пучки, подбираемые индивидуально для клиентки. Приклеиваются такие элементы только на верхнее веко. Срок носки ресничек, наращенных этим методом, недолог, но для особого случая этот вариант подходит идеально. Коррекция ресниц необходима примерно через месяц после наращивания. Этот временной отрезок сопоставим со сроком жизни натуральной ресницы. Во время коррекции на новые реснички приклеиваются волоски взамен отпавших вместе с собственными ресницами, отжившими свой срок. Эта процедура дает продление срока носки ресниц, полученных путем наращивания. Удаление искусственных волосков производится мастером при помощи специальной жидкости. Во избежание повреждения ресниц самостоятельное снятие наращивания не рекомендуется.
              .service-content__right
                .service-content__block
                  span.service-content__title Стоимость услуги
                  span.service-content__price 1 650 ₽ - 4 950 ₽
                  .service-content__img   
                    img(src="../assets/img/list.svg")
                  button.service-content__btn Записаться  


