extends ../layout/main

block variables
  - var title = 'Услуги';
  - var description = 'Страница контакты';
  - var pageClass = 'index';
  


block content
    .services
        img(src="../assets/img/background/bg-contacts.png").services-background.img-background
        .container
            .services-wrapper